img {
	height:60px;
}

td {
	line-height: 60px;
	max-height:60px;
	max-width: 360px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.pagination{
	margin: auto;
}

.btn-group{
	margin-bottom: 10px;
}

div.ReactTags__tags {
    position: relative;
}

div.ReactTags__selected span.ReactTags__tag {
    border: 1px solid #ddd;
    background: #eee;
    font-size: 12px;
    display: inline-block;
    padding: 5px;
    margin: 0 5px 0 0;
    cursor: move;
    border-radius: 2px;
}

div.ReactTags__tagInput {
    width: 200px;
    border-radius: 2px;
    display: inline-block;
}

div.ReactTags__tagInput input.ReactTags__tagInputField, div.ReactTags__tagInput input.ReactTags__tagInputField:focus {
    height: 31px;
    margin: 0;
    font-size: 12px;
    width: 100%;
    border: 1px solid #eee;
    padding: 0 4px;
}

div.ReactTags__selected a.ReactTags__remove {
    color: #aaa;
    margin-left: 5px;
    cursor: pointer;
}





